.fa-fire-alt{
    color: blue;
}

.fa-heart {
    color: red;
}

.fa-bomb {
    color: black;
}

body {
    background-color: #232323;
}
.selected{
    background-color: #b1b1b1;
}

.badge-danger {
  position: absolute;
  font-size: 30;
}



/*
-----------------------------
Animation degats 
-----------------------------
*/
.animationAffichageDesDegats{
    animation: animationAffichageDesDegats linear 2.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationAffichageDesDegats linear 2.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: animationAffichageDesDegats linear 2.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationAffichageDesDegats linear 2.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationAffichageDesDegats linear 2.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  
  @keyframes animationAffichageDesDegats{
    -1% {
      transform:  translate(-23px,7px)  rotate(1deg) scaleX(1.00) scaleY(1.00) ;
    }
    12% {
      transform:  translate(-23px,13px)  rotate(-8deg) scaleX(3.00) scaleY(3.00) ;
    }
    18% {
      transform:  translate(-23px,-7px)  rotate(-12deg) scaleX(5.00) scaleY(5.00) ;
    }
    29% {
      opacity:0.81;
      transform:  translate(-23px,-54px)  rotate(-20deg) scaleX(1.50) scaleY(1.50) ;
    }
    73% {
      opacity:0.34;
      transform:  translate(-23px,-125px)  rotate(-60deg) ;
    }
    100% {
        opacity:0;
      transform:  translate(-23px,-200px)  ;
    }
    101% {
      opacity:0;
      transform:  translate(-23px,-200px)  rotate(-60deg) scaleX(1.50) scaleY(1.50) ;
    }
  }
  
  @-moz-keyframes animationAffichageDesDegats{
    -1% {
      -moz-transform:  translate(-23px,7px)  rotate(1deg) scaleX(1.00) scaleY(1.00) ;
    }
    12% {
      -moz-transform:  translate(-23px,13px)  rotate(-8deg) scaleX(3.00) scaleY(3.00) ;
    }
    18% {
      -moz-transform:  translate(-23px,-7px)  rotate(-12deg) scaleX(5.00) scaleY(5.00) ;
    }
    29% {
      opacity:0.81;
      -moz-transform:  translate(-23px,-54px)  rotate(-20deg) scaleX(1.50) scaleY(1.50) ;
    }
    73% {
      opacity:0.34;
      -moz-transform:  translate(-23px,-125px)  rotate(-60deg) ;
    }
    100% {
        opacity:0;
      -moz-transform:  translate(-23px,-200px)  ;
    }
    101% {
      opacity:0;
      -moz-transform:  translate(-23px,-200px)  rotate(-60deg) scaleX(1.50) scaleY(1.50) ;
    }
  }
  
  @-webkit-keyframes animationAffichageDesDegats {
    -1% {
      -webkit-transform:  translate(-23px,7px)  rotate(1deg) scaleX(1.00) scaleY(1.00) ;
    }
    12% {
      -webkit-transform:  translate(-23px,13px)  rotate(-8deg) scaleX(3.00) scaleY(3.00) ;
    }
    18% {
      -webkit-transform:  translate(-23px,-7px)  rotate(-12deg) scaleX(5.00) scaleY(5.00) ;
    }
    29% {
      opacity:0.81;
      -webkit-transform:  translate(-23px,-54px)  rotate(-20deg) scaleX(1.50) scaleY(1.50) ;
    }
    73% {
      opacity:0.34;
      -webkit-transform:  translate(-23px,-125px)  rotate(-60deg) ;
    }
    100% {
        opacity:0;
      -webkit-transform:  translate(-23px,-200px)  ;
    }
    101% {
      opacity:0;
      -webkit-transform:  translate(-23px,-200px)  rotate(-60deg) scaleX(1.50) scaleY(1.50) ;
    }
  }
  
  @-o-keyframes animationAffichageDesDegats {
    -1% {
      -o-transform:  translate(-23px,7px)  rotate(1deg) scaleX(1.00) scaleY(1.00) ;
    }
    12% {
      -o-transform:  translate(-23px,13px)  rotate(-8deg) scaleX(3.00) scaleY(3.00) ;
    }
    18% {
      -o-transform:  translate(-23px,-7px)  rotate(-12deg) scaleX(5.00) scaleY(5.00) ;
    }
    29% {
      opacity:0.81;
      -o-transform:  translate(-23px,-54px)  rotate(-20deg) scaleX(1.50) scaleY(1.50) ;
    }
    73% {
      opacity:0.34;
      -o-transform:  translate(-23px,-125px)  rotate(-60deg) ;
    }
    100% {
        opacity:0;
      -o-transform:  translate(-23px,-200px)  ;
    }
    101% {
      opacity:0;
      -o-transform:  translate(-23px,-200px)  rotate(-60deg) scaleX(1.50) scaleY(1.50) ;
    }
  }
  
  @-ms-keyframes animationAffichageDesDegats {
    -1% {
      -ms-transform:  translate(-23px,7px)  rotate(1deg) scaleX(1.00) scaleY(1.00) ;
    }
    12% {
      -ms-transform:  translate(-23px,13px)  rotate(-8deg) scaleX(3.00) scaleY(3.00) ;
    }
    18% {
      -ms-transform:  translate(-23px,-7px)  rotate(-12deg) scaleX(5.00) scaleY(5.00) ;
    }
    29% {
      opacity:0.81;
      -ms-transform:  translate(-23px,-54px)  rotate(-20deg) scaleX(1.50) scaleY(1.50) ;
    }
    73% {
      opacity:0.34;
      -ms-transform:  translate(-23px,-125px)  rotate(-60deg) ;
    }
    100% {
        opacity:0;
      -ms-transform:  translate(-23px,-200px)  ;
    }
    101% {
      opacity:0;
      -ms-transform:  translate(-23px,-200px)  rotate(-60deg) scaleX(1.50) scaleY(1.50) ;
    }
  }

  /*
  --------------------------
  fin animation degats
  --------------------------
  */





/*
-------------------------
animationDegatsCard
-------------------------
*/
  .animationDegatsCard{
    -webkit-animation: shake-bottom 0.4s ease-in-out both;
            animation: shake-bottom 0.4s ease-in-out both;
  }
  
/* ----------------------------------------------
 * Generated by Animista on 2018-12-28 13:58:53
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  90% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  20%,
  20%,
  60% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  90% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

/*
-------------------------
Fin animationDegatsCard
-------------------------
*/



/*
------------------
animationHeal
------------------
*/

.AnimationHeal{
  background: linear-gradient(175deg, #67db67, #ffffff, #67db67, #ffffff, #67db67, #e0ffe0);
  background-size: 1200% 1200%;

  
-webkit-animation: AnimationHeal 1s ease 1;
-moz-animation: AnimationHeal 1s ease 1;
animation: AnimationHeal 1s ease 1;
}



@-webkit-keyframes AnimationHeal {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes AnimationHeal {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes AnimationHeal { 
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}